body {
	#comodines {
		position: absolute;
		top: 55px;
		left: 5%;
		z-index: 10;
	}

	.comodin {
		font-size: 3.3rem;
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 2px solid $blanco_tiza;
	}

	#repaso {
		width: 600px;
		height: 850px;
		position: absolute;
		top: 50px;
		left: 40%;
		background-image: url("/img/repaso.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: 10;
		text-align: center;
		padding-top: 11%;
	}

	#volver {
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 200px;
		height: 100px;
		cursor: pointer;
		z-index: 10;
		cursor: pointer;
		background-image: url("/img/volver.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.itemRepaso {
		font-size: 2.2rem;
		font-weight: 900;
	}

	#pizarra {
		position: relative !important;
		flex-direction: row !important;
		text-align: none !important;
		min-height: 95vh !important;
	}

	#carton {
		//margin-left:30%;
		display: flex;
		flex-direction: row;

		-webkit-transition: all, 0.5s;
		-transition: all, 0.5s;

		&.fin {
			margin-left: 15%;
			padding-right: 5%;
		}
	}

	.bloque {
		width: 250px;
		margin: 0% 5%;
	}

	.fila {
		width: 225px;
		display: block !important;
		height: 60px;
		z-index: 10;
		margin-bottom: 5px;
	}

	.multiplicacion,
	.resultado {
		display: inline-block;
		float: left;
		font-size: 2rem;
		margin: auto;
	}
	.multiplicacion.diez {
		font-size: 1.6rem;
	}

	.resultado {
		z-index: 10;
		position: relative;
		display: inline-block;
		margin-left: 2%;
		float: left;
		width: 50px;
		height: 50px;
		box-sizing: border-box;
		background-color: transparent;
	}
	.resultado:hover {
		cursor: pointer;
		color: #f3b633;
		border: 2px solid #f3b633;
	}

	.sinBorder {
		border: none !important;
	}

	@media (min-width: 1024px) {
		.draggable {
			font-size: 2rem !important;
		}
		.multiplicacion,
		.resultado {
			font-size: 2rem !important;
		}
		.multiplicacion.diez {
			font-size: 1.8rem !important;
		}

		.bloque {
			width: 250px;
			margin: 0% 10%;
		}

		#carton {
			&.fin {
				margin-left: 10%;
				padding-right: 15%;
			}
		}

		.fila {
			width: 250px;
			height: 70px;
			z-index: 1000;
			margin-bottom: 2px;
		}

		.resultado {
			width: 49px;
			height: 49px;
		}
	}

	@media (min-width: 1400px) {
		.draggable {
			font-size: 3rem !important;
		}

		#elijeOpcion {
			width: 800px;

			> h3 {
				font-size: 7rem;
				font-weight: bold;
				display: inline-block;
			}
		}

		.opcion {
			font-size: 4rem;
			padding: 0.5rem 2rem;
		}

		.multiplicacion,
		.resultado {
			font-size: 3.2rem !important;
		}
		.multiplicacion.diez {
			font-size: 2.7rem !important;
		}

		#carton {
			&.fin {
				margin-left: 10%;
				padding-right: 25%;
			}
		}

		.bloque {
			width: 250px;
			margin: 0% 15%;
		}

		.fila {
			height: 85px;
			z-index: 1000;
			margin-bottom: 5px;
		}
		.resultado {
			width: 74px;
			height: 74px;
		}
	}
}
