
<div class="d-flex justify-content-center ">
  <div class="card border-primary text-center  ">
    <div class="card-header">Restblece tu password</div>
    <div class="card-body">
  
      <form method="post">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label">Elija un nuevo password *</label>
          <div class="col-sm-12">
            <input [(ngModel)]="newPass" class="form-control" name="newPass" id="newPass" type="text" />
            <div class="error-messages">              
            </div>
          </div>
        </div>        
        <div class="form-group ">
          <input (click)='enviar()' type="submit" class="btn btn-lg btn-primary col-sm-6" value="Enviar">
        </div>
      </form>
    </div>
    {{token}}
  </div>
  
  </div>
  
