#linea1{
			
	padding-top: -40px;
	width: 110%;
	margin-left: -5%;

  @media  (max-width: 1400px){
      width: 100%;
      margin-left: 0%;

    }
}

#f0{
margin-top:	15px;
	
}



 #f3{
 	margin-top:	15px;
 	
 }



