<script>
    var parametro1 = 3;      
</script>
<section class="tablas">
    <div class="" id="carton">
        <!--<div *ngIf='showOpciones' id='elijeOpcion'></div>-->
        <div class="fila1">
            <div class='fila'>
                <div class="multiplicacion">2x5=</div>
                <div class='resultado'>x</div>
            </div>
            <div class='fila'>
                <div class="multiplicacion">2x5=</div>
                <div class='resultado'>x</div>
            </div>
            <div class='fila'>
                <div class="multiplicacion">2x5=</div>
                <div class='resultado'>x</div>
            </div>
        </div>

        <div class='draggables'>
            <p class='draggable'>Apraiz</p>
            <p class='draggable'>Apraiz</p>
            <p class='draggable'>Asier</p>
            <p class='draggable'>Ane</p>
            <p class='draggable'>Asier</p>

        </div>
    </div>


</section>

<!-- <div *ngIf='showOpciones' id='elijeOpcion'>
    <h3 class=''>Elije una tabla:</h3>
    <div id='opciones'>
        <div *ngFor="let opcion of opciones" class='opcion' data-ladel='" + a + "'>{{opcion}}</div>
    </div>
</div>

<div *ngFor="let num of lista" class='fila'>
    <div [ngClass]="opcionSeleccionada==10?'diez':''" class='multiplicacion '>{{ladel}} x
        {{num}} =
        <p data-resultado='ladel*num' style='z-index:10;' class='resultado  '></p>
    </div>
</div>
<div>
    <div *ngFor="let num of listaMezclada" data-resultado='ladel*num' class='draggable '>{{ladel}}x{{num}}</div>
</div> -->