<script>
    var parametro1 = 3;      
</script>
<section class="tablas col-12 ">
    <div class="col-8 row" id="carton">

        <div class="row col-12 " id='elijeOpcion' #opciones>
            <h3 class=''>Elije una tabla:</h3>
            <div id='opciones'>
                <div *ngFor="let opcion of opcionesList" class='opcion' [attr.data-ladel]="opcion">{{opcion}}</div>
            </div>
        </div>
        <div id='showTabla' class="row col-12 out" #tabla>
            <div class="col-md-4 col1">
                <div *ngFor="let num of lista" class='fila'>
                    <div class="multiplicacion">{{ladel}}x{{num}}=</div>
                    <div (click)="seleccionaTarget($event)" [attr.data-valor]="num*ladel" class='resultado target'>
                    </div>
                </div>
            </div>
            <div class="col-md-4 "></div>

            <div class='col-md-4 tablas-draggable-list'>
                <div *ngFor="let num of listaMezclada" (click)="seleccionaOpcion($event)" [attr.data-valor]="num*ladel"
                    class='tablas-draggable'>{{num*ladel}}</div>
            </div>
        </div>
    </div>



</section>