<div class="container">
    <div class="col-12 col-md-10 col-xl-10 avatar-selector pt-1 pb-4 mb-5 mx-auto row caja" id="avatar-container">
        <h1 class="col-12 text-center ">
            Elige tu avatar
        </h1>

        <!--Chico-->
        <div class="col-12 col-lg-3 chico ">
            <div class="avatar">
                <div class="foto">
                    <img class="w-100" src="./../../assets/img/avatar/marco.png" />
                    <img id="indefinido" class="img-fluid " src="./../../assets/img/avatar/sin-avatar.png" />
                    <img class="img-fluid torso d-none" src="./../../assets/img/avatar/torsos/{{avatar.torso}}.png" />
                    <img class="img-fluid cara d-none" src="./../../assets/img/avatar/caras/{{avatar.cara}}.png" />
                    <img class="img-fluid ojos d-none" src="./../../assets/img/avatar/ojos/{{avatar.ojos}}.png" />
                    <img class="img-fluid cejas d-none" src="./../../assets/img/avatar/cejas/{{avatar.cejas}}.png" />
                    <img class="img-fluid pelo d-none" src="./../../assets/img/avatar/pelos/{{avatar.pelo}}.png" />
                    <img class="img-fluid boca d-none" src="./../../assets/img/avatar/bocas/{{avatar.boca}}.png" />
                    <img class="img-fluid nariz d-none" src="./../../assets/img/avatar/nariz/{{avatar.nariz}}.png" />
                </div>
            </div>


            <button class="btn btn-large avatar-btn" (click)="continuar()" id="guardar">Guardar</button>

            <!--
            <div class="selectores">
                
                <nav class="navbar navbar-expand-lg  " data-capa="pelo" id="pelo-color">
                    <div class="titulo-selector">Pelo:</div>
                    <div class=" selector selector-pelo rounded-circle " data-filtro="pelo-negro" id="bg-moreno"></div>
                    <div class=" selector selector-pelo rounded-circle " data-filtro="pelo-castaño" id="bg-castaño"></div>
                    <div class=" selector selector-pelo rounded-circle " data-filtro="pelo-castaño-claro" id="bg-castaño-claro"></div>
                    <div class=" selector selector-pelo rounded-circle " data-filtro="pelo-pelirrojo" id="bg-pelirrojo"></div>
                    <div class=" selector selector-pelo rounded-circle " data-filtro="pelo-rubio" id="bg-rubio"></div>
                </nav>
                
                <nav class="navbar navbar-expand-lg " data-capa="torso" id="ropa-color">
                    <div class="titulo-selector">
                        Ropa:
                    </div>
                    <div class=" selector selector-ropa rounded-circle " data-filtro="torso-verde" id="bg-verde">
                    </div>
                    <div class=" selector selector-ropa rounded-circle " data-filtro="torso-naranja" id="bg-lila">
                    </div>
                    <div class=" selector selector-ropa rounded-circle " data-filtro="torso-morado" id="bg-morado">
                    </div>
                    <div class=" selector selector-ropa rounded-circle " data-filtro="torso-azul" id="bg-azul">
                    </div>
                </nav>
                
                <nav class="navbar navbar-expand-lg " data-capa="cara" id="cara-color">
                    <div class="titulo-selector">Cara:</div>
                    <div class=" selector selector-cara rounded-circle " data-filtro="cara-clara" id="bg-palido"></div>
                    <div class=" selector selector-cara rounded-circle " data-filtro="cara-morenazo" id="bg-morenazo"></div>
                    <div class=" selector selector-cara rounded-circle " data-filtro="cara-oscura" id="bg-oscura"></div>
                </nav>
                
            </div>-->

        </div>
        <div class="col-sm-12 col-lg-8 chico">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a aria-controls="pelo" aria-selected="true" class="nav-link active" data-toggle="tab" href="#pelo"
                        id="pelo-tab" role="tab">
                        Pelo
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-controls="ojos" aria-selected="false" class="nav-link" data-toggle="tab" href="#ojos"
                        id="profile-tab" role="tab">
                        Ojos
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-controls="nariz" aria-selected="false" class="nav-link" data-toggle="tab" href="#nariz"
                        id="contact-tab" role="tab">
                        Nariz
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-controls="boca" aria-selected="false" class="nav-link" data-toggle="tab" href="#boca"
                        id="contact-tab" role="tab">
                        Boca
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-controls="cejas" aria-selected="false" class="nav-link" data-toggle="tab" href="#cejas"
                        id="contact-tab" role="tab">
                        Cejas
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-controls="torso" aria-selected="false" class="nav-link" data-toggle="tab" href="#torso"
                        id="contact-tab" role="tab">
                        Ropa
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="pelo-tab" class="tab-pane fade show active" id="pelo" role="tabpanel">
                    <div class="row p-3 capa" data-capa="pelo">

                        <div @fadeInAnimation *ngFor="let pelo of pelos" class="col-4 col-md-4 col-lg-3 box">
                            <img alt="" (click)="avatar.pelo='pelo_'+pelo;seleccion()" class="img-fluid"
                                src="./../../assets/img/avatar/pelos/pelo_{{pelo}}.png" />
                        </div>

                    </div>
                </div>
                <div aria-labelledby="ojos-tab" class="tab-pane fade" id="ojos" role="tabpanel">
                    <div class="row p-3 capa" data-capa="ojos">

                        <div @fadeInAnimation *ngFor="let ojo of ojos" class="col-4 col-md-4 col-lg-3 box">
                            <img alt="" (click)="avatar.ojos='ojo_'+ojo;seleccion()" class="img-fluid"
                                src="./../../assets/img/avatar/ojos/ojo_{{ojo}}.png" />
                        </div>

                    </div>
                </div>
                <div aria-labelledby="nariz-tab" class="tab-pane fade" id="nariz" role="tabpanel">
                    <div class="row p-3 capa" data-capa="nariz">

                        <div @fadeInAnimation *ngFor="let nariz of narices" class="col-4 col-md-4 col-lg-3 box">
                            <img alt="" (click)="avatar.nariz='nariz_'+nariz;seleccion()" class="img-fluid"
                                src="./../../assets/img/avatar/nariz/nariz_{{nariz}}.png" />
                        </div>

                    </div>
                </div>
                <div aria-labelledby="boca-tab" class="tab-pane fade" id="boca" role="tabpanel">
                    <div class="row p-3 capa" data-capa="boca">

                        <div @fadeInAnimation *ngFor="let boca of bocas" class="col-4 col-md-4 col-lg-3 box">
                            <img (click)="avatar.boca='boca_'+boca;seleccion()" alt="" class="img-fluid"
                                src="assets/img/avatar/bocas/boca_{{boca}}.png" />
                        </div>

                    </div>
                </div>
                <div aria-labelledby="cejas-tab" class="tab-pane fade" id="cejas" role="tabpanel">
                    <div class="row p-3 capa" data-capa="cejas">

                        <div @fadeInAnimation *ngFor="let ceja of cejas" class="col-4 col-md-4 col-lg-3 box">
                            <img (click)="avatar.cejas='cejas_'+ceja;seleccion()" alt="" class="img-fluid"
                                src="./../../assets/img/avatar/cejas/cejas_{{ceja}}.png" />
                        </div>

                    </div>
                </div>
                <div aria-labelledby="torso-tab" class="tab-pane fade" id="torso" role="tabpanel">
                    <div class="row p-3 capa" data-capa="torso">

                        <div @fadeInAnimation *ngFor="let torso of torsos" class="col-4 col-md-4 col-lg-3 box">
                            <img (click)="avatar.torso='torso_'+torso;seleccion()" alt="" class="img-fluid"
                                src="./../../assets/img/avatar/torsos/torso_{{torso}}.png" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>