<div class="container-fluid tarea ">
    <aside class="sidebar">

        <div class="perfil marco ">

            <div class=" avatar foto">
                <img class="w-100" src="assets/img/avatar/marco.png" />
                <img class="img-fluid torso" src="assets/img/avatar/torsos/{{avatar.torso}}.png" />
                <img class="img-fluid cara" src="assets/img/avatar/caras/{{avatar.cara}}.png" />
                <img class="img-fluid ojos" src="assets/img/avatar/ojos/{{avatar.ojos}}.png" />
                <img class="img-fluid cejas" src="assets/img/avatar/cejas/{{avatar.cejas}}.png" />
                <img class="img-fluid pelo" src="assets/img/avatar/pelos/{{avatar.pelo}}.png" />
                <img class="img-fluid boca" src="assets/img/avatar/bocas/{{avatar.boca}}.png" />
                <img class="img-fluid nariz" src="assets/img/avatar/nariz/{{avatar.nariz}}.png" />
            </div>
            <div class=" nombre  ">
                {{user}}
            </div>
            <div id="tarea-info">
                <div id="intentos">
                    <p>Intentos:</p>
                    <i @flyInOut *ngFor="let a of [].constructor(intentos)"
                        class="intento-icon fa fa-circle fa-1x text-sucess"></i>
                </div>
                <div id="errores">
                    <p>Errores:</p>
                    <i @flyInOut *ngFor="let a of [].constructor(errores)"
                        class="error-icon fa fa-circle fa-1x text-danger "></i>
                </div>

                <div class="tareas col-12 ">
                </div>

            </div>

        </div>
        <!-- <div class=" col-5 col-sm-4 col-md-12" id="vadorrin">
            <img class="vadorrin " id="pose" src="assets/img/vadorrin/Pose.png" />
            <img class="vadorrin " hidden="" id="guiña" src="assets/img/vadorrin/Guina.png " />
            <img class="vadorrin " hidden="" id="miraPanel" src="assets/img/vadorrin/MiraPanel.png" />
            <img class="vadorrin " hidden="" id="triste" src="assets/img/vadorrin/Triste.png" />
        </div> -->

    </aside>
    <main class="main sombra {{tarea}} ralative " id="pizarra">
        <div class="pizarra-header">
            <!-- <img class="logo" src="assets/img/logo/Pinfloi.svg" width="auto" /> -->

            <div class="butons-group">
                <button class="navbar-toggler navbar-toggler-right navbar-ico" data-toggle="modal"
                    data-target="#opcionesModal" type="button">
                    <i class="fa fa-bars"></i>
                </button>

                <button aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right navbar-icon"
                    data-toggle="modal" data-target="#historicoModal" type="button">
                    <i id="btn-historico" class="fa fa-history"></i>
                </button>

                <button id="volumen-switch" class="navbar-toggler navbar-toggler-right navbar-icon" type="button">
                    <i class="fa fa-volume-off"></i>
                </button>
            </div>
        </div>


        <div class="pizarra-body">
            <div [@routeAnimations]="prepareRoute(outlet)">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
        </div>

        <div *ngIf="showDragables" id="draggables" class="pizarra-footer">
            <div class="draggable " data-valor="0">
                0
            </div>
            <div class="draggable " data-valor="1">
                1
            </div>
            <div class="draggable " data-valor="2">
                2
            </div>
            <div class="draggable " data-valor="3">
                3
            </div>
            <div class="draggable " data-valor="4">
                4
            </div>
            <div class="draggable " data-valor="5">
                5
            </div>
            <div class="draggable " data-valor="6">
                6
            </div>
            <div class="draggable " data-valor="7">
                7
            </div>
            <div class="draggable " data-valor="8" id="8">
                8
            </div>
            <div class="draggable " data-valor="9" id="9">
                9
            </div>
            <div *ngIf="tarea=='restaCon'" class="draggable " data-valor="1" id="+1">
                +1
            </div>
            <div *ngIf="tarea=='restaCon'" class="draggable " data-valor="1" id="-1">
                -1
            </div>
            <div *ngIf="tarea=='restaCon'" class="draggable font-size-min" data-valor="10" id="+10">
                +10
            </div>

        </div>





    </main>
    <div class="sidebar-right"></div>
</div>