<section id="resumen" class="body main-route-details">


    <div class="mensaje ">


        <div class="cabecera ">
            <div *ngIf="todoOK" class="sa">
                <div class="sa-success">
                    <div class="sa-success-tip"></div>
                    <div class="sa-success-long"></div>
                    <div class="sa-success-placeholder"></div>
                    <div class="sa-success-fix"></div>
                </div>
            </div>
            <div *ngIf="!todoOK" class="sa">
                <div class="sa-warning">
                    <div class="sa-warning-body"></div>
                    <div class="sa-warning-dot"></div>
                </div>
            </div>
            <h1>{{mensaje}}</h1>
        </div>

        <div *ngIf="todoOK" class="">
            <button @jump_to_tarea class="btn btn-large next-btn" (click)="continuar(resumnenModal)"
                id="guardar">Comenzar</button>
        </div>
    </div>




</section>