<div class="d-flex justify-content-center ">
    <div class=" col-10 col-md-6 col-xl-4 caja" id="logeo">


        <div class="cosa" id="cosa">
            <div [ngClass]="['animacion', 'paused']" class="animacion" id="cara">
                <div class="ojo animacion" id="ojoIzq">
                    <div class="iris animacion" id="irisIzq">
                    </div>
                    <div class="brillo animacion" id="brilloIzq">
                    </div>
                </div>
                <div class="ojo animacion" id="ojoDch">
                    <div class="iris animacion" id="irisDch">
                    </div>
                    <div class="brillo animacion" id="brilloDch">
                    </div>
                </div>
                <div class=" animacion" id="mandibula">
                    <!--<div id="pelilla"></div>-->
                </div>
            </div>
        </div>
        <div *ngIf="showName">
            <h1 class="white">Eres {{nombre}}?</h1>
            <input id="" (click)="start()" type="submit" class="btn btn-lg btn-primary " value="Si">
            <input id="" (click)="notMe()" type="submit" class="btn btn-lg btn-primary " value="No">
        </div>

        <div class="animacion fadeIn" *ngIf="!showName">

            <div class="form-group w-100">
                <i class="fa fa-user clc">
                </i>
                <input [(ngModel)]="nombre" type="text" (change)="keyUp()" (input)="keyDown()" class="" name="username"
                    id="username" placeholder="Tu nombre" autofocus required>
            </div>
            <p [ngClass]="(mensaje!='')?'fadeIn':''" class="mensaje">Tienes que poner un nombre</p>

            <input id="enviar" (click)="start()" type="submit" class="btn btn-lg btn-primary " value="Ok">

        </div>


    </div>
</div>