<div class="aside">

    <div class="avatar ">
        <div class="foto">
            <img class="img-fluid" src="assets/img/avatar/marco.png" />
            <img id="indefinido-aside" class="img-fluid " src="assets/img/avatar/sin-avatar.png" />
            <img class="img-fluid torso d-none" src="assets/img/avatar/torsos/{{avatar.torso}}.png" />
            <img class="img-fluid cara d-none" src="assets/img/avatar/caras/{{avatar.cara}}.png" />
            <img class="img-fluid ojos d-none" src="assets/img/avatar/ojos/{{avatar.ojos}}.png" />
            <img class="img-fluid cejas d-none" src="assets/img/avatar/cejas/{{avatar.cejas}}.png" />
            <img class="img-fluid pelo d-none" src="assets/img/avatar/pelos/{{avatar.pelo}}.png" />
            <img class="img-fluid boca d-none" src="assets/img/avatar/bocas/{{avatar.boca}}.png" />
            <img class="img-fluid nariz d-none" src="assets/img/avatar/nariz/{{avatar.nariz}}.png" />
        </div>

        <div class="nombre">
            <p>{{nombre}}</p>
        </div>
    </div>


    <h1 @flyInFromLeft *ngIf="tareasSeleccionadas.length>0">Tareas</h1>
    <ul class="tareas">
        <li @flyInFromLeft *ngFor="let tarea of tareasSeleccionadas; index as index">
            <div class="inner tarea-seleccionada ">
                <span>{{ tarea.name }}</span>
            </div>
            <span (click)="delete('tarea',index)" class=" trash"><i class="fa fa-trash"></i></span>
        </li>
    </ul>
    <br>
    <h1 @flyInFromLeft *ngIf="juegosSeleccionados.length>0">Juegos</h1>
    <ul class="juegos">
        <li @flyInFromLeft *ngFor="let juego of juegosSeleccionados; index as index" class=" ">
            <div class="inner juego-seleccionado">
                <span>{{ juego.name }}</span>
                <div class="juego-img"><img class="img-fluid" src="./../../assets/img/juegos/{{juego.name}}.png" />
                </div>
            </div>
            <span (click)="delete('juego',index)" class=" trash"><i class="fa fa-trash"></i></span>
        </li>
    </ul>

</div>
<div class="body">
    <div class="main-route-container" [@routerAnimations]="prepRouteTransition(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
</div>
<div class="footer">
    <!--Arrow-->
    <a (click)="next()" class="js-scroll-trigger btn-primary shadow-pulse mLateral fromRight">
        <i class="fa fa-angle-double-right">
        </i>
    </a>
    <a (click)="before()" class="js-scroll-trigger btn-primary shadow-pulse mLateral fromLeft">
        <i class="fa fa-angle-double-left">
        </i>
    </a>
</div>