.aside{
    padding:2rem 2rem;
    color:rgb(51, 138, 224);
    z-index:9;
    position:absolute;
    top:0px;
    left:0px;
    width:15%;
    height: 100vh;
    background-color: rgba(14, 110, 206, 0.336);
    border-right: 1px solid white ;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

