#logeo {
	margin: 10px;

	@media (min-width: 768px) {
		margin-top: 10px;
	}

	@media (min-width: 1200px) and (max-width: 1400px) {
		margin: 50px;
	}
}
input {
	text-align: center;
}

#enviar {
	margin-top: 20px;
}

.fm h1 {
	color: #fff;

	margin-bottom: 80px;
}
.fr {
	color: #fff;
	font-size: 10pt;
	margin-bottom: 10px;
	padding: 0px;
	margin: auto auto;
}

.fi {
	padding-left: 0px !important;
}

.fm {
	padding: 20px;
}

@media (min-width: 768px) {
	.fm,
	.fr {
		font-size: 18pt;
	}
	.fm {
		padding-bottom: 0px;
	}
}

.me {
	margin: 20px;
}

.me a {
	margin: 10px;
	font-size: 22pt;
	text-decoration: none;
	color: #fff;
	-webkit-transition: color, 0.5s;
}

.me a:hover {
	color: #333;
}

.forgot {
	margin-top: 10px;
	color: white;
	border: 0px !important;
}

.forgot:hover {
	text-decoration: none;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: rgba(215, 213, 213, 0.47);
}
:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: rgba(215, 213, 213, 0.47);
}
::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: rgba(215, 213, 213, 0.47);
}
:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgba(215, 213, 213, 0.47);
}
::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgba(215, 213, 213, 0.47);
}

::placeholder {
	/* Most modern browsers support this now. */
	color: rgba(215, 213, 213, 0.47);
}
