.swal2-popup{
    border-radius: 15px!important;
     
    background-image: url('../../assets/img/fondos/fondoDibujosB.png') !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: repeat-y !important;  
    //transition: 0.2s all ease-out!important;
  
        
}